body {
    margin: 0;
    padding: 0;
    background-color: #f4f5f6;
    background-image: url(https://lh3.googleusercontent.com/NtSdtr31hVNI5ub4NL0EC-sW9JZPZSXu3TiCiE02X3sumncM7e4D3PXQMUcZoF_psx2q2cZD6s6UrN9ORuGEqAzJS1mrsqh6NU9V9OGdPdD4bwAXHxwDbKfYydRwjzKxRn_WOhQT1Iwa1YGbuf82z_owX2xuuGiuoUT7E5ZL87cN4zu4fFHK4h_nJQbBcVhVrES-ZhHnvdq8Y3L74k9dMXDRUvRG6FMxNxZSP62PRTjAlAJLZF_vR-1jMEwHalz0Cfytg14dHQ82mdbAUpfz-rgPIYO2n04pKviInMnRWbUGZWYG5eCXLS0-8GMJu1XgdTfYyD9EfNBVyGHs7eZUOl1gbH2SaeCPaBNs0AqZLfe7KX81THdxyn--VXhLuqxBAKtpisQaVm-9vhmjYjuVkwLtsgr64p8nE5LS0uAmNkrHEnkb9lYdIWV44mEKUPjycJZVzrg0R4BfGNYCy2vJ7laZsbZpPg-QHtC396TnhUFi-RcwRXcN0Qmy_ZA6RAsNk2Smf4UMG0ie0qr4xwH_O0C5sITdvzLhIK4hEk3zfuTdm-k1QT_WhmBaLRRbHC8b5fwKYt4C62E68Cxiv4lT8hY-lPaDx40_v1Hg9IGx-y5wIcg6tDsvyqFEuq8z5m-GCJS4Klu-NfhHSOzC8NSgbG5z7z99r_A=s400-no);
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25% auto;
}

/* Rating */

.rating {
    margin: 0 0 1em 0;
    padding: 0;
    border: none;
}

/* Caption */

.rating__caption {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    padding: 0;
}

/* Group */

.rating__group {
    position: absolute;
    width: 10em;
    height: 2em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19'%3E%3Cpath fill='%239b9b9b' d='M10 0l2.36 7.28L20 7.25l-6.19 4.47L16.19 19 10 14.48 3.83 19l2.36-7.28L0 7.25l7.66.03z'/%3E%3C/svg%3E");
    background-size: 2em 1.9em;
    background-repeat: repeat-x;
}

/* Input */

.rating__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.rating__input:focus ~ .rating__focus {
    position: absolute;
    top: -0.2em;
    right: -0.2em;
    bottom: -0.2em;
    left: -0.2em;
    z-index: -1;
    border-radius: 20px;
    box-shadow: 0 0 15px -2px rgb(0,151,255);
}

/* Star */

.rating__star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 2em;
    background-size: 2em 1.9em;
    background-repeat: repeat-x;
}

.rating__star:hover,
.rating__input:checked + .rating__star {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19'%3E%3Cpath fill='%237ed321' d='M10 0l2.36 7.28L20 7.25l-6.19 4.47L16.19 19 10 14.48 3.83 19l2.36-7.28L0 7.25l7.66.03z'/%3E%3C/svg%3E");
}

.rating__star:hover ~ .rating__star {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19'%3E%3Cpath fill='%239b9b9b' d='M10 0l2.36 7.28L20 7.25l-6.19 4.47L16.19 19 10 14.48 3.83 19l2.36-7.28L0 7.25l7.66.03z'/%3E%3C/svg%3E");
}

/* Options */

.rating__star:nth-of-type(1) {
    z-index: 5;
    width: 2em;
}

.rating__star:nth-of-type(2) {
    z-index: 4;
    width: 4em;
}

.rating__star:nth-of-type(3) {
    z-index: 3;
    width: 6em;
}

.rating__star:nth-of-type(4) {
    z-index: 2;
    width: 8em;
}

.rating__star:nth-of-type(5) {
    z-index: 1;
    width: 10em;
}