@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: 'Popins', sans-serif;
}
:root {
	--bg-color: #1f242d;
	--second-bg-color: #323946;
	--text-color: #fff;
	--main-color: #0ef;
}
html {
	font-size: 62.5%;
	over-flow-x: hidden;
}
body {
	background: var(--bg-color);
	color: var(--text-color);
}
section {
	min-height: 100vh;
	padding: 10rem 9% 2rem;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 9%;
	background: var(--bg-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
.header.sticky {
	border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.header span {
	color: #0ef;
}
.logo {
	font-size: 2.5rem;
	color: var(--text-color);
	font-weight: 600;
	cursor: default;
}
.navbar a {
	font-size: 1.7rem;
	color: var(--text-color);
	margin-left: 2rem;
	transition: .3s;
}
.navbar a:hover,
.navbar a.active {
	color: var(--main-color);
}
.navbar i {
	font-size: 2.5rem;
}
#day_night {
	border-radius: 50%;
	margin-left: 2rem;
}
#menu-icon {
	font-size: 3.6rem;
	color: var(--text-color);
	display: none;
}
/* ------------------------------------------------header section---------------------------------------------------------- */
.home {
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-img img {
	width: 42vw;   /* 35vw */
	margin-top: -6rem;
	animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-2.4rem);
	}
	100% {
		transform: translateY(0);
	}
}
.home-content {
	margin-top: -1rem;
}
.home-content p button {
	background-color: transparent;
	margin-left: 1rem;
}
.home-content p button img {
	margin-bottom: -4px;
}
.home-content h3 {
	font-size: 3.2rem;
	font-weight: 700;
}
.home-content h3:nth-of-type(2) {
	margin-bottom: 2rem;
}
span {
	color: var(--main-color);
}
.home-content h1 {
	font-size: 5.6rem;
	font-weight: 700;
	line-height: 1.3;
	filter: drop-shadow(0 0 0.2rem aqua);
}
.home-content p {
	font-size: 1.6rem;
}
.home-content p button i {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	background: transparent;
	border: .2rem solid var(--main-color);
	border-radius: 50%;
	font-size: 2rem;
	color: var(--main-color);
	/* margin: 3rem 1.5rem 3rem 0; */
	transition: .5s ease;
}
.social-media a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
	background: transparent;
	border: .2rem solid var(--main-color);
	border-radius: 50%;
	font-size: 2rem;
	color: var(--main-color);
	margin: 3rem 1.5rem 3rem 0;
	transition: .5s ease;
}
.social-media a:hover {
	background: var(--main-color);
	color: var(--bg-color);
	box-shadow: 0 0 1rem var(--main-color);
}
.btn {
	display: inline-block;
	padding: 1rem 2.8rem;
	background: var(--main-color);
	border-radius: 4rem;
	box-shadow: 0 0 1rem var(--main-color);
	font-size: 1.6rem;
	color: var(--second-bg-color);
	letter-spacing: .1rem;
	font-weight: 600;
	transition: .5s ease;
}
.btn1 {
	display: inline-block;
	padding: 1rem 2.8rem;
	background: #e6a902;
	border-radius: 4rem;
	box-shadow: 0 0 1rem #e6a902;
	font-size: 1.6rem;
	color: var(--second-bg-color);
	letter-spacing: .1rem;
	font-weight: 600;
	transition: .5s ease;
	margin-left: 10px;
}
.btn:hover {
	box-shadow: none;
}
.btn1:hover {
	box-shadow: none;
}
/* ---------------------------------------------about section---------------------------------------------------- */
.about {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background: var(--second-bg-color);
}
.about-img img {
	width: 17vw;
	border-radius: 20px;
	box-shadow: 0 0 2rem var(--main-color);
}
.heading {
	text-align: center;
	font-size: 4.5rem;
	margin-top: -1rem;
}
.about-content {
	margin-left: 5%;
}
.about-content h2 {
	text-align: left;
	line-height: 1.2;
}
.about-content h3 {
	font-size: 2.6rem;
}
.about-content p {
	font-size: 1.6rem;
	margin: 2rem 0 3rem;
}
/* ----------------------------------------------skills section----------------------------------------------------- */
.container {
				width: 100%;
				position: relative;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				flex-direction: row;
			}
			.container .skill {
				flex-basis: 9.09%;
				text-align: center;
			}
			.container .skill img {
				margin-top: 2rem;
				margin-right: 20px;
				filter: drop-shadow(0 0 0.2rem aqua);
				width: 60px;
				height: 60px;
			}
			.container .skill img:hover {
				transform: scale(1.15);
			}
			.skill h3 {
				text-align: center;
				text-shadow: 1px 1px #ff0000;
				padding-right: 15px;
			}
/* ---------------------------------------------services section---------------------------------------------------- */
.services {
	background: var(--second-bg-color);
}
.services h2 {
	margin-bottom: 5rem;
}
.services-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
.services-container .services-box {
	flex: 1 1 30rem;
	background: var(--bg-color);
	padding: 3rem 2rem 4rem;
	border-radius: 2rem;
	text-align: center;
	border: .2rem solid var(--second-bg-color);
	transition: .5s ease;
}
.services-container .services-box:hover {
	border-color: var(--main-color);
	transform: scale(1.02);
}
.services-box i {
	font-size: 7rem;
	color: var(--main-color);
}
.services-box h3 {
	font-size: 2.6rem;
}
.services-box p {
	font-size: 1.6rem;
	margin: 1rem 0 3rem;
}
/* ---------------------------------------------my work section---------------------------------------------------- */
.mywork {
	/* background: var(--bg-color); */
}
.mywork h2 {
	margin-bottom: 4rem;
}
.mywork-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 2.5rem;
}
.mywork-container .mywork-box {
	position: relative;
	border-radius: 2rem;
	box-shadow: 0 0 1rem var(--bg-color);
	overflow: hidden;
	display: flex;
}
.mywork-box img {
	width: 100%;
	height: 25rem;
	transition: .5s ease;
}
.mywork-box:hover img {
	transform: scale(1.1);
}
.mywork-box .mywork-layer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 0 4rem;
	transform: translateY(100%);
	transition: .5s ease;
}
.mywork-box:hover .mywork-layer {
	transform: translateY(0);
}
.mywork-layer h4 {
	font-size: 3rem;
	filter: drop-shadow(0px 0px 4px #000);
}
.mywork-layer p {
	font-size: 1.6rem;
	margin: .3rem 0 1rem;
	filter: drop-shadow(0px 0px 4px #000);
}
.mywork-layer a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-left: 37%;
	width: 5rem;
	height: 5rem;
	background: var(--text-color);
	border-radius: 50%;
}
.mywork-layer a i {
	font-size: 2rem;
	color: var(--second-bg-color);
}
.used_skills img {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	border-style: double;
	margin-top: 1rem;
	margin-left: 1rem;
}
.show_more button {
	display: inline-block;
	padding: 1rem 2.8rem;
	background: var(--main-color);
	border-radius: 4rem;
	margin-left: 43%;
	margin-top: 3rem;
	box-shadow: 0 0 1rem var(--main-color);
	font-size: 1.6rem;
	color: var(--second-bg-color);
	letter-spacing: .1rem;
	font-weight: 600;
	transition: .5s ease;
}
.show_more button:hover {
	box-shadow: none;
}
/* ---------------------------------------------experience section---------------------------------------------------- */
.exp_container {
				width: 100%;
				position: relative;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				flex-direction: row;
			}
.experience {
	background: var(--second-bg-color);
}
.exp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 25%;
  text-align: center;
}
/* .container .skill { */
				/* flex-basis: 9.09%; */
				/* text-align: center; */
			/* } */
.exp img {
	width: 8rem;
	height: 8rem;
	border-radius: 12px;
	cursor: pointer;
	box-shadow: 0 0 1rem 0 aqua;
	max-width: 100%;
	margin-top: 2rem;
	margin-bottom: 5px;
}
.exp img:hover {
	box-shadow: none;
}
.exp a h3,
.exp h4 {
	text-align: center;
	margin-left: 10px;
	color: white;
	font-size: 1.5rem;
}
.exp a h3:hover {
	color: aqua;
}
.exp a h3 {
	font-weight: 900;
}
.exp h4 span {
	color: yellow;
	animation: h4_color 4s ease-in-out infinite;
}
@keyframes h4_color {
	0% {
		color: #f24005;
	}
	50% {
		color: #0fff0f;
	}
	100% {
		color: #f24005;
	}
}
/* ---------------------------------------------certification section---------------------------------------------------- */
.cert_container {
				width: 100%;
				position: relative;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				flex-direction: row;
			}
.certification {
	/* background: var(--second-bg-color); */
}
.cert {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 20%;
}
.cert img {
	width: 8rem;
	height: 8rem;
	border-radius: 12px;
	cursor: pointer;
	box-shadow: 0 0 1rem 0 aqua;
	max-width: 100%;
	margin-top: 2rem;
	margin-bottom: 5px;
}
.cert img:hover {
	box-shadow: none;
}
.cert a h3,
.cert h4 {
	text-align: center;
	margin-left: 10px;
	color: white;
	font-size: 1.5rem;
}
.cert a h3:hover {
	color: aqua;
}
.cert h4 span {
	animation: h4_color 4s ease-in-out infinite;
}
/* ---------------------------------------------contact section---------------------------------------------------- */
.contact {
	background: var(--second-bg-color);
}
.contact h2 {
	margin-bottom: 3rem;
}
.contact #msg {
	font-size: 200%;
}
.contact a i {
	margin-right: 40%;
	margin-left: 20%;
}
.contact .social-media a i {
	margin-left: 1.4rem;
}
.contact a p {
	font-size: 200%;
	display: inline-flex;
	justify-content: left;
	align-items: center;
	width: 4rem;
	height: 4rem;
	background: transparent;
	border: .2rem solid var(--main-color);
	border-radius: 50%;
	font-size: 2rem;
	color: var(--main-color);
	/* margin: 3rem 1.5rem 3rem 0; */
	transition: .5s ease;
}
.contact p {
	font-size: 200%;
}
.contact form {
	max-width: 70rem;
	margin: 1rem auto;
	text-align: center;
	margin-bottom: 3rem;
	margin-top: -3rem;
}
.contact form label{
	font-size: 270%;
}
.contact form .input-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
	width: 100%;
	padding: 1.5rem;
	font-size: 1.6rem;
	color: var(--text-color);
	background: var(--bg-color);
	border-radius: .8rem;
	margin: .7rem 0;
}
.contact form .input-box input {
	width: 49%;
}
.contact form textarea {
	resize: none;
}
.contact form .btn {
	margin-top: 2rem;
	cursor: pointer;
}

/* .feedback-box { */
	/* background-color: white; */
	/* width: 45%; */
	/* height: 80%; */
/* } */
/* ---------------------------------------------footer section---------------------------------------------------- */
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem 9%;
	background: var(--second-bg-color);
}
.footer-text p {
	font-size: 1.6rem;
}
.footer-iconTop a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: .8rem;
	background: var(--main-color);
	border-radius: .8rem;
	transition: .5s ease;
}
.footer-iconTop a:hover {
	box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i {
	font-size: 2.4rem;
	color: var(--second-bg-color);
}
/*----------------------------breakpoints----------------------------*/
@media (max-width: 1200px) {
	html {
		font-size: 55%;
	}
}
@media (max-width: 991px) {
	.header {
		padding: 2rem 3%;
	}
	section {
		padding: 10rem 3% 2rem;
	}
	.services {
		padding-bottom: 7rem;
	}
	.mywork {
		padding-bottom: 7rem;
	}
	.contact {
		min-height: auto;
	}
	.footer {
		padding: 2rem 3%;
	}
}
@media (max-width: 768px) {
	#menu-icon {
		display: block;
	}
	* {
		max-width: 100%;
	}
	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem 3%;
		background: var(--bg-color);
		border-top: .1rem solid rgba(0, 0, 0, .2);
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
		display: none;
	}
	.navbar.active {
		display: block;
	}
	.navbar a {
		display: block;
		font-size: 2rem;
		margin: 3rem 0;
	}
	.home {
		flex-direction: column;
	}
	.home-content h3 {
		font-size: 2.6rem;
	}
	.home-content h1 {
		font-size: 5rem;
	}
	.home-img img {
		width: 70vw;
		margin-top: 4rem;
	}
	.about {
		flex-direction: column-reverse;
	}
	.about img {
		width: 70vw;
		margin-top: 4rem;
	}
	.services h2 {
		margin-bottom: 3rem;
	}
	.mywork h2 {
		margin-bottom: 3rem;
	}
	.mywork-container {
		grid-template-columns: repeat(2, 1fr);
	}
	.mywork .show_more {
		margin-left: -6%;
	}
	.skills .container {
		margin-left: 0px;
		margin-right: 0px;
		left: 50px;
	}
	.skill h3 {
		margin-left: 10px;
	}
	.experience .exp_container {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: row;
	}
	.exp {
		flex-basis: 50%;
	}
	.certification .cert_container {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: row;
	}
	.cert {
		flex-basis: 50%;
	}
}
@media (max-width: 617px) {
	.mywork-container {
		grid-template-columns: 1fr;
	}
	.skills .container {
		margin-left: 0px;
		margin-right: 0px;
		left: 0;
		width: 580px;
	}
	.skills .container .name {
		font-size: 10px;
	}
}
@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
	.contact form .input-box input {
		width: 100%;
	}
	.container .skill img {
		width: 40px;
		height: 40px;
		}
}
@media (max-width: 365px) {
	.home-img img {
		width: 90vw;
	}
	.about-img img {
		width: 90vw;
	}
	.footer {
		flex-direction: column-reverse;
	}
	.footer p {
		text-align: center;
		margin-top: 2rem;
	}
	.container .skill img {
		width: 50px;
		height: 50px;
		}
}