@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap");

*{
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}
.services {
	width: 100%;
	height: 100vh;
	background: #e9b2c5;
	position: relative;
}
.box {
	width: 420px;
	height: 550px;
	min-height: 500px;
	padding: 50px;
	background: #fff;
	text-align: center;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	color: #555;
}
.box1 {
	width: 420px;
	height: 550px;
	min-height: 500px;
	padding: 50px;
	background: #fff;
	text-align: center;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 83%;
	transform: translate(-50%,-50%);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	color: #555;
}
.box2 {
	width: 420px;
	height: 550px;
	min-height: 500px;
	padding: 50px;
	background: #fff;
	text-align: center;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 17%;
	transform: translate(-50%,-50%);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	color: #555;
}
.box h2 {
	font-size: 18px;
	margin-bottom: 20px;
}
.box h1 {
	font-size: 70px;
	margin-bottom: 20px;
	color: #ff2166;
	font-weight: 500;
}
.box h1 span {
	font-size: 22px;
	color: #555;
}
.box b {
	font-weight: 600;
	margin-bottom: 20px;
	display: block;
}
.box p {
	font-size: 14px;
	margin-bottom: 20px;
}
.box button {
	display: block;
	margin: 30px auto;
	border: 0;
	outline: 0;
	background: #ff2166;
	color: #fff;
	padding: 12px;
	border-radius: 30px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	width: 142px;
}
.box button:hover {
	background: #fff;
	color: #ff2166;
	font-weight: 900;
}
.box1 button:hover {
	background: #fff;
	color: blue;
	font-weight: 900;
}
.box2 button:hover {
	background: #fff;
	color: #ff2166;
	font-weight: 900;
}
.box1 h2 {
	font-size: 18px;
	margin-bottom: 20px;
}
.box1 h1 {
	font-size: 70px;
	margin-bottom: 20px;
	color: blue;
	font-weight: 500;
}
.box1 h1 span {
	font-size: 22px;
	color: #555;
}
.box1 b {
	font-weight: 600;
	margin-bottom: 20px;
	display: block;
}
.box1 p {
	font-size: 14px;
	margin-bottom: 20px;
}
.box1 button {
	display: block;
	margin: 30px auto;
	border: 0;
	outline: 0;
	background: blue;
	color: #fff;
	padding: 12px;
	border-radius: 30px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	width: 142px;
}
.box2 h2 {
	font-size: 18px;
	margin-bottom: 20px;
}
.box2 h1 {
	font-size: 70px;
	margin-bottom: 20px;
	color: #ff2166;
	font-weight: 500;
}
.box2 h1 span {
	font-size: 22px;
	color: #555;
}
.box2 b {
	font-weight: 600;
	margin-bottom: 20px;
	display: block;
}
.box2 p {
	font-size: 14px;
	margin-bottom: 20px;
}
.box2 button {
	display: block;
	margin: 30px auto;
	border: 0;
	outline: 0;
	background: #ff2166;
	color: #fff;
	padding: 12px;
	border-radius: 30px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	width: 142px;
}
.ribbon-wrap {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: absolute;
	top: -10px;
	left: -10px;
}
.premium-ribbon-wrap {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: absolute;
	top: -10px;
	left: -10px;
}
.ribbon-wrap::before, .ribbon-wrap::after {
	content: '';
	width: 10px;
	height: 10px;
	background: #f2167b;
	position: absolute;
	z-index: -1;
}
.premium-ribbon-wrap::before, .premium-ribbon-wrap::after {
	content: '';
	width: 10px;
	height: 10px;
	background: blue;
	position: absolute;
	z-index: -1;
}
.ribbon-wrap::before {
	top: 0;
	right: 0;
}
.ribbon-wrap::after {
	bottom: 0;
	left: 0;
}
.premium-ribbon-wrap::before {
	top: 0;
	right: 0;
}
.premium-ribbon-wrap::after {
	bottom: 0;
	left: 0;
}
.ribbon {
	width: 225px;
	font-size: 15px;
	text-align: center;
	padding: 8px 0;
	background: #ff2166;
	color: #fff;
	position: absolute;
	transform: rotate(-45deg);
	right: -17%;
	top: 29%;
}
.premium-ribbon {
	width: 225px;
	font-size: 15px;
	text-align: center;
	padding: 8px 0;
	background: blue;
	color: #fff;
	position: absolute;
	transform: rotate(-45deg);
	right: -17%;
	top: 29%;
}
@media only screen and (max-width: 1250px) {
	.services {
	width: 100%;
	height: 100vh;
	background: #e9b2c5;
	position: relative;
	}
	.box img {
	display: none;
	}
	.box1 img {
	display: none;
	}
	.box2 img {
	display: none;
	}
	.box {
	width: 320px;
	height: 350px;
	min-height: 200px;
	padding: 50px;
	background: #fff;
	text-align: center;
	border-radius: 10px;
	position: absolute;
	top: 105%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	color: #555;
}
.box1 {
	width: 320px;
	height: 350px;
	min-height: 200px;
	padding: 50px;
	background: #fff;
	text-align: center;
	border-radius: 10px;
	position: absolute;
	top: 170%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	color: #555;
}
.box2 {
	width: 320px;
	height: 350px;
	min-height: 200px;
	padding: 50px;
	background: #fff;
	text-align: center;
	border-radius: 10px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	color: #555;
}
.box h2 {
	font-size: 13px;
	margin-bottom: 10px;
}
.box h1 {
	font-size: 50px;
	margin-bottom: 10px;
	color: #ff2166;
	font-weight: 500;
}
.box h1 span {
	font-size: 18px;
	color: #555;
}
.box b {
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 10px;
	display: block;
}
.box p {
	font-size: 10px;
	margin-bottom: 10px;
}
.box button {
	display: block;
	margin: 10px auto;
	border: 0;
	outline: 0;
	background: #ff2166;
	color: #fff;
	padding: 7px;
	border-radius: 30px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	width: 142px;
}
.box1 h2 {
	font-size: 13px;
	margin-bottom: 10px;
}
.box1 h1 {
	font-size: 50px;
	margin-bottom: 10px;
	color: blue;
	font-weight: 500;
}
.box1 h1 span {
	font-size: 18px;
	color: #555;
}
.box1 b {
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 20px;
	display: block;
}
.box1 p {
	font-size: 10px;
	margin-bottom: 10px;
}
.box1 button {
	display: block;
	margin: 10px auto;
	border: 0;
	outline: 0;
	background: blue;
	color: #fff;
	padding: 7px;
	border-radius: 30px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	width: 142px;
}
.box2 h2 {
	font-size: 13px;
	margin-bottom: 10px;
}
.box2 h1 {
	font-size: 50px;
	margin-bottom: 10px;
	color: #ff2166;
	font-weight: 500;
}
.box2 h1 span {
	font-size: 18px;
	color: #555;
}
.box2 b {
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 20px;
	display: block;
}
.box2 p {
	font-size: 10px;
	margin-bottom: 10px;
}
.box2 button {
	display: block;
	margin: 10px auto;
	border: 0;
	outline: 0;
	background: #ff2166;
	color: #fff;
	padding: 7px;
	border-radius: 30px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	width: 142px;
}
.ribbon-wrap {
	width: 100px;
	height: 100px;
	overflow: hidden;
	position: absolute;
	top: -10px;
	left: -15px;
}
.premium-ribbon-wrap {
	width: 100px;
	height: 100px;
	overflow: hidden;
	position: absolute;
	top: -10px;
	left: -15px;
}
.ribbon-wrap::before, .ribbon-wrap::after {
	content: '';
	width: 16px;
	height: 15px;
	background: #f2167b;
	position: absolute;
	z-index: -1;
}
.premium-ribbon-wrap::before, .premium-ribbon-wrap::after {
	content: '';
	width: 16px;
	height: 15px;
	background: blue;
	position: absolute;
	z-index: -1;
}
.ribbon-wrap::before {
	top: 0;
	right: 0;
}
.ribbon-wrap::after {
	bottom: 0;
	left: 0;
}
.premium-ribbon-wrap::before {
	top: 0;
	right: 0;
}
.premium-ribbon-wrap::after {
	bottom: 0;
	left: 0;
}
.ribbon {
	width: 125px;
	font-size: 10px;
	text-align: center;
	padding: 8px 0;
	background: #ff2166;
	color: #fff;
	position: absolute;
	transform: rotate(-45deg);
	right: -12%;
	top: 30%;
}
.premium-ribbon {
	width: 125px;
	font-size: 10px;
	text-align: center;
	padding: 8px 0;
	background: blue;
	color: #fff;
	position: absolute;
	transform: rotate(-45deg);
	right: -12%;
	top: 30%;
}
}